<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	
	<!-- 启动AOP功能 -->
	<aop:aspectj-autoproxy />
	
	<!-- 声明目标对象 -->
	<bean id="targetDao" class="com.bjpowernode.aop.TargetDao"></bean>
	
	<!-- 声明扩展对象 -->
	<bean id="timePrint" class="com.bjpowernode.aop.TimePrint"></bean>
	
	<!-- 声明目标对象和扩展对象的组合关系(扩展对象对哪些目标对象进行功能扩展) -->
	<aop:config>
		<aop:aspect id="timeAspect" ref="timePrint">
			<!-- 切入点表达式的定义 -->
			<aop:pointcut expression="execution(public * *(..))" id="timePointcut"/>
			
			<!-- 定义前置通知，表示在符合切入点表达式的连接点之前执行功能扩展 -->
			<aop:before method="printStartTime" pointcut-ref="timePointcut"/>
			
			<!-- 定义后置通知，表示在符合切入点表达式的连接点之后执行功能扩展 -->
			<aop:after method="printEndTime" pointcut-ref="timePointcut"/>

		</aop:aspect>
	</aop:config>
	
</beans>
